// 全局样式设置

@use "./elStyle.scss";
@use "./theme.scss" as *;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
  border: 0;
}

#app {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
}

/* 图标样式 */
.icon-svg {
  outline: none;
}

.wy-icon-svg {
  outline: none;
}

.wy-icon {
  outline: none;
}

/* element-ui 虚拟滚动条样式 */
.el-scrollbar .el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
  background-color: $main-color;

  &:hover {
    background-color: $main-color;
    opacity: var(--el-scrollbar-hover-opacity, 0.5);
  }
}
